<div class="container">
    <h1>Matriz rotatoria</h1>
    <mat-divider></mat-divider>
    <p class="mt-3">
        Dados los parámetros de entrada: n (int) = tamaño de la matriz(nxn) 
        rotaciones[int] = un arreglo que contenga una sucesión de rotaciones representadas por números, los
        números positivos son rotaciones a la derecha y los números negativos son rotaciones a la izquierda (0 representa ningún movimiento).
        coordenada [x, y] = La coordenada del número de la salida.
        Se genera una matriz “n”x”n” y se llena con números comenzando por el 1 en la celda 0,0 y aumentando en 1
        consecuentemente en cada celda de la matriz, aplicar las rotaciones necesarias y posterior a la rotaciones a la
        matriz y dada la coordenada[x,y] se tiene que regresar el número de esa celda.
        La salida será el número contenido en la coordenada indicada.
    </p>
    <mat-card>
        <mat-card-content class="w-100 mx-0 px-2 row" [formGroup]="formMatriz">
            <mat-form-field appearance="outline" class="col-auto">
                <mat-label>Entradas (n)</mat-label>
                <input matInput autocomplete="off" placeholder="" type="number"
                    required formControlName="n"
                >
                <mat-error>
                    entradas incorrectas
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-auto">
                <mat-label>Rotaciones</mat-label>
                <input matInput autocomplete="off" placeholder=""
                    required formControlName="rotate"
                >
                <mat-error>
                    rotaciones incorrectas
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-auto">
                <mat-label>coord x [?, y]</mat-label>
                <input matInput autocomplete="off" placeholder="" type="number"
                    required formControlName="x"
                >
                <mat-error>
                    coordenada incorrecta
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-auto">
                <mat-label>coord y [x, ?]</mat-label>
                <input matInput autocomplete="off" placeholder="" type="number"
                    required formControlName="y"
                >
                <mat-error>
                    coordenada incorrecta
                </mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="center">
            <button mat-flat-button color="primary" (click)="getCoordenada()" *ngIf="!isLoading">Enviar</button>
            <div class="row w-100 mx-0 align-items-center justify-content-center py-2" *ngIf="isLoading">
                <mat-spinner></mat-spinner>
            </div>
        </mat-card-actions>
    </mat-card>
    <div class="row w-100 justify-content-center mt-3 mb-3" *ngIf="matrix">
        <div class="row justify-content-center" *ngFor="let row of matrix">
            <div class="cel-mat" *ngFor="let cel of row">
                {{cel}}
            </div>
        </div>
    </div>
    <div class="mt-3 w-100 text-center" *ngIf="resultado !== null && resultado !== undefined">
        Resultado: <span style="font-size: 2rem;">{{resultado}}</span>
    </div>
</div>
